@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

header {
  min-width: 400px;
  .login-nav {
    @include flex;
    border-bottom: 1px solid #f0f0f0;
    h1 {
      padding: 20px 200px;
      font-size: 20px;
      font-weight: 500;
    }
    button {
      border: 0;
      background-color: white;
      font-size: 20px;
    }
  }
}

.body {
  @include flex;
  min-width: 500px;
  .login-container {
    flex-direction: column;
    margin-top: 125px;
    .header {
      @include flex;
      flex-direction: column;
      margin: 10px;
      font-size: 30px;
      font-weight: bold;
      p {
        margin: 3px;
      }
    }
    .content {
      @include flex;
      flex-direction: column;
      margin-top: 40px;

      .inputs {
        @include flex;
        flex-direction: column;
        input {
          margin-bottom: 20px;
          width: 400px;
          height: 50px;
          border-radius: 5px;
          border: 1px solid #dad6d6;
          text-indent: 10px;
        }
      }
      .checkbox {
        margin-bottom: 20px;
      }
      button {
        width: 400px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: #0095f6;
        color: white;
      }
      button:disabled {
        color: rgba(136, 136, 136, 0.5);
        background-color: rgb(237, 237, 237);
      }
    }
    .footer-border {
      margin-top: 20px;
      border-top: 1px solid rgb(237, 237, 237);
      @include flex;
      .footer {
        @include flex($justify: space-between);
        width: 300px;
        margin-top: 20px;
        i {
          font-size: 50px;
        }
        img {
          width: 50px;
        }
      }
    }
  }
}
