@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.login-header {
  min-width: 400px;
  .login-nav {
    @include flex;
    border-bottom: 1px solid #f0f0f0;
    h1 {
      padding: 10px 170px;
      font-size: 17px;
      font-weight: 500;
    }
    button {
      border: 0;
      background-color: white;
      font-size: 20px;
    }
  }
}

.body {
  @include flex;
  min-width: 500px;
  .login-container {
    @include flex;
    flex-direction: column;
    margin-top: 50px;
    min-height: 70vh;
    .header {
      img {
        height: 150px;
        width: 300px;
        object-fit: cover;
      }
    }
    .content {
      @include flex($align: flex-start);
      flex-direction: column;
      margin-top: 10px;

      .inputs {
        @include flex;
        flex-direction: column;
        input {
          padding: 0 12px;
          margin-bottom: 20px;
          width: 400px;
          line-height: 50px;
          font-size: 14px;
          letter-spacing: -0.7px;
          border-radius: 6px;
          border: 1px solid #dad6d6;
          appearance: none;
        }
        .password-Show {
          position: relative;
          i {
            position: absolute;
            right: 20px;
            top: 17px;
          }
        }
      }
      .button-area {
        border-bottom: 1px solid rgb(237, 237, 237);
        button {
          width: 400px;
          height: 50px;
          border-radius: 5px;
          border: 1px solid white;
          background-color: #5b95ef;
          color: white;
          margin-bottom: 20px;
        }
      }
      button:disabled {
        color: #c6c6c6;
        background-color: #f0f0f0;
      }
    }
    .login-footer-border {
      @include flex;
      .login-footer {
        @include flex($justify: space-between);
        width: 300px;
        margin-top: 20px;
        .login-footer-text {
          @include flex;
          flex-direction: column;
          p {
            margin-bottom: 3px;
            font-size: 13px;
          }
          .hiddenT {
            font-size: 13px;
            color: white;
          }
        }
        img {
          width: 40px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
