@import '../../styles/variable.scss';

.register-header {
  min-width: 500px;

  .register-nav {
    @include flex;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    h1 {
      padding: 20px 170px;
      font-size: 17px;
      font-weight: 500;
    }

    button {
      position: absolute;
      right: 35%;

      border: 0;
      background-color: white;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.register-body {
  @include flex;
  min-height: 80vh;

  .content {
    margin-top: 20px;

    .inputs {
      @include flex($align: flex-start);
      flex-direction: column;

      .input {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 400px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #dad6d6;
        text-indent: 10px;
        &:focus {
          outline: none;
        }
      }
      .wrong {
        border: 3px solid red;
        &:focus {
          outline: none;
          border: 3px solid red;
        }
      }
      .right {
        border: 3px solid #5aa3da;
        &:focus {
          outline: none;
          border: 3px solid #5aa3da;
        }
      }

      .date {
        font-size: 13px;
        color: #7e7e7e;
        text-indent: 5px;
        padding-right: 20px;
      }

      .text {
        color: black;
      }

      .password-shown {
        position: relative;
        i {
          position: absolute;
          right: 20px;
          bottom: 27px;
          color: #7e7e7e;
        }
      }

      .message {
        margin-left: 5px;
        font-size: 15px;
      }
    }

    button {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 400px;
      height: 50px;
      border-radius: 5px;
      border: 1px solid white;
      background-color: #0095f6;
      color: white;
      &:disabled {
        color: rgba(136, 136, 136, 0.5);
        background-color: rgb(237, 237, 237);
      }
    }
  }
}
