@import '../../../styles/variable.scss';

.main-hottea {
  @include flex;
  flex-direction: column;
  font-family: 'Gowun Dodum', sans-serif;

  .main-hottea-title {
    @include flex($justify: flex-start);
    margin: 40px 20px;
    width: 1200px;
    background-color: #fff;
    font-weight: bold;

    h3 {
      font-size: 28px;
      width: 30%;
    }

    button {
      background-color: #f6f6f6;
      color: #999;
      border: none;
      height: 36px;
      padding: 0 16px;
      font-size: 15px;
      text-align: center;
      border-radius: 150px;
      cursor: pointer;
      margin-right: 10px;
    }

    .on {
      background-color: #6c801a;
      color: #fff;
      border: none;
      height: 36px;
      padding: 0 16px;
      font-size: 15px;
      text-align: center;
      border-radius: 150px;
      cursor: pointer;
      margin-right: 10px;
    }
  }

  .main-hottea-scroll {
    @include flex;
    margin: 10px 30px;
    background-color: #fff;
    width: 1400px;

    .hottea-left,
    .hottea-right {
      @include flex;
      color: #999;
      z-index: 2;
      background-color: #fff;
      cursor: pointer;
      width: 100px;

      i {
        @include flex;
        width: 100px;
      }

      &:hover {
        color: #333;
      }
    }

    .hottea {
      overflow: hidden;

      .hottea-list {
        width: 200%;
        display: flex;
        position: relative;
        left: -240px;

        .items {
          @include flex;
          flex-direction: column;
          width: 240px;
          height: 350px;

          .img-box {
            width: 90%;
            height: 260px;
            cursor: pointer;

            .items-img {
              @include flex;

              width: 100%;
              height: 90%;
            }

            &:hover {
              .items-img {
                opacity: 0;
                transition: ease 500ms;
              }

              .hover-box {
                position: absolute;
                top: 0;
                opacity: 1;
                transition: ease 500ms;
                z-index: -1;
              }
            }

            .hover-box {
              opacity: 0;
              position: relative;
              width: 240px;
              height: 260px;

              img {
                width: 90%;
                height: 90%;
              }
            }
          }

          .price-box {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 25%;
            margin-left: 15px;
            z-index: 2;

            h6 {
              font-weight: 18px;
              margin-top: 15px;
              font-weight: bold;
              cursor: pointer;
            }

            .nonsale-price {
              margin-top: 15px;
              font-size: 18px;
            }

            .sale {
              margin-top: 15px;

              .current-price {
                font-size: 14px;
                color: #999;
                text-decoration: line-through;
                margin-bottom: 10px;
              }

              .sale-price-percent {
                display: flex;

                .sale-price {
                  font-size: 18px;
                }

                .sale-percent {
                  color: #6c801a;
                  margin-left: 5px;
                  font-size: 18px;
                  font-weight: 900;
                }
              }
            }
          }
        }
      }
    }
  }
  .hottea-more {
    margin: 20px 0;

    button {
      width: auto;
      padding: 0 60px;
      height: 48px;
      line-height: 48px;
      font-size: 15px;
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 4px;
      color: #666;
      background-color: #fff;
      cursor: pointer;
    }
  }
}
