@import '../../../styles/variable.scss';

.timesale {
  @include flex;
  background-color: #f6f6f6;
  font-family: 'Gowun Dodum', sans-serif;
  margin: 48px 0;

  .timesale-main {
    @include flex($justify: space-between);
    margin-top: 40px;
    padding: 80px 0;
    width: 1200px;

    .timesale-left {
      @include flex;
      position: relative;
      width: 50%;

      .left-imgbox {
        width: 95%;

        img {
          width: 95%;
          height: 100%;
        }
      }

      .left-textbox {
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        position: absolute;

        .textbox-top {
          width: 95%;
          padding: 20px 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #fff;
          font-size: 30px;

          .textbox-top-left {
            font-weight: bold;
          }

          .textbox-top-right {
            width: 110px;
            position: relative;
            font-size: 28px;
            color: rgba(255, 255, 255, 0.8);
            font-weight: 700;

            i {
              position: absolute;
              font-size: 22px;
              left: -30px;
              top: 4px;
            }
          }
        }

        .textbox-bottom {
          @include flex($align: flex-start);
          flex-direction: column;
          font-size: 26px;
          color: rgba(255, 255, 255, 0.8);
          padding: 0 30px 30px 30px;
          font-weight: 900;

          .sale-price {
            @include flex;
            margin-top: 10px;

            .sale-percent {
              width: 64px;
              height: 64px;
              font-size: 24px;
              line-height: 64px;
              border-radius: 100%;
              background-color: #fd5c5c;
              text-align: center;
              font-weight: bold;
              color: #fff;
            }

            .price-origin {
              margin-left: 16px;
              font-size: 18px;
              color: rgba(255, 255, 255, 0.5);
              text-decoration: line-through;
            }

            .price-result {
              font-size: 30px;
              margin-left: 12px;
              color: #fff;
            }
          }
        }
      }
    }

    .timesale-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .right-event {
        @include flex($justify: flex-start);
        width: 95%;
        position: relative;
        padding-bottom: 12px;

        .event-imgbox {
          @include flex;
          width: 95%;

          img {
            width: 95%;
            height: 242px;
          }
        }

        .event-textbox {
          position: absolute;
          flex-direction: column;
          margin-left: 40px;

          .event-name {
            font-size: 26px;
            color: #333;
            font-weight: bold;
          }

          .event-time {
            display: flex;
            align-items: center;
            margin-top: 10px;
            font-weight: 400;
            font-size: 13px;
            color: #666;
          }
        }
      }

      .right-story {
        @include flex($justify: flex-start);
        width: 95%;
        position: relative;
        padding-top: 15px;

        .story-imgbox {
          @include flex;
          width: 95%;

          img {
            width: 95%;
          }
        }

        .story-textbox {
          position: absolute;
          flex-direction: column;
          margin-left: 40px;

          .story-sidename {
            font-size: 18px;
            color: rgba(255, 255, 255, 0.7);
          }

          .story-name {
            font-size: 26px;
            color: #fff;
            margin-top: 3px;
          }
        }
      }
    }
  }
}
