.itemss {
  flex-wrap: wrap;
  margin-top: 10px;
  display: flex;

  .item {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% / 3 - 20px);
    font-size: 20px;
    margin: 10px;

    .itemBottom {
      height: 130px;

      .nameDiv {
        height: 50px;
      }

      .discoutnNumber {
        height: 15px;
        margin-bottom: 10px;
      }
    }

    .beforeDiscount {
      text-decoration: line-through;
      color: gray;
      margin-left: 0;
      font-size: 15px;
    }
    .afterDiscount {
      font-size: 14px;
      color: red;
    }

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    .price {
      margin: 5px 0 5px 0;
    }

    .imgWrapper {
      overflow: hidden;
      height: 250px;

      img {
        object-fit: cover;
        height: 250px;
        width: 100%;
      }

      .imageUnhover {
        position: absolute;
        transition: opacity 1s;
      }

      .imageUnhover:hover {
        opacity: 0;
      }
      .imageHover:hover {
        opacity: 0;
        transition: opacity 1s;
      }
    }

    .likeComment {
      display: flex;
      justify-content: flex-start;
      bottom: 0;

      .likeNumber {
        margin-right: 30px;
      }

      .fa-heart,
      .fa-comment {
        color: #999;
      }
    }
    p,
    span {
      color: black;
      text-decoration: none;
    }

    p {
      margin: 10px 0 10px 0;
      font-family: 'Gowun Dodum', sans-serif;
      text-decoration: none;
      color: black;
    }

    span {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
