.items {
  flex-wrap: wrap;
  margin-top: 10px;
  display: flex;

  .item {
    position: relative;
    height: 350px;
    width: 30%;
    margin: 15px 0 0 15px;
    font-size: 20px;

    img {
      height: 60%;
    }

    .likeComment {
      display: flex;
      justify-content: flex-start;
    }

    .imageUnhover {
      position: absolute;
      transition: opacity 1s;
    }

    .imageUnhover:hover {
      opacity: 0;
    }
    .imageHover:hover {
      opacity: 0;
      transition: opacity 1s;
    }

    p {
      margin: 15px 0 15px 0;
    }

    span {
      margin-right: 20px;
      margin-left: 10px;
    }
  }
}
