.side {
  width: 165px;
  margin-top: 15px;

  .listTitle {
    text-align: start;
    font-size: 20px;
  }

  li {
    padding-left: 1em;
    font-size: 20px;
    margin: 40px 0 0 10px;
  }

  .activatedTab {
    color: rgb(108, 128, 26);
  }
}
