@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@font-face {
  font-family: 'EBSHunminjeongeumSBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: 0;
  font-family: 'Gowun Dodum', sans-serif;
  cursor: pointer;
} // 버튼의 기본 디자인 제거
img {
  max-width: 100%;
  height: auto;
} // 이미지 자체의 크기를 최대 넓이로 잡아 과하게 사이즈가 커지는 것을 방지
.multi-line2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
} // 텍스트가 정해진 영역에서 2줄보다 길다면 ...으로 표기되며 뒷 내용이 생략됨. -webkit-line-clamp: ; 를 1,2,3,... 으로 수정하면 각각 1줄일 때, 2줄일 때, 3줄일 때를 뜻합니다.
