@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
//font-family: 'Gowun Dodum', sans-serif;

@font-face {
  font-family: 'EBSHunminjeongeumSBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
