@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
//font-family: 'Gowun Dodum', sans-serif;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
