@import '../../styles/variable.scss';

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'EBSHunminjeongeumSBA';
  color: white; //#555;
  font-weight: 400;
  font-size: 13px;
  z-index: 10;

  .nav-header {
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
    transition: background-color 0.5s;
    width: 100vw;
    z-index: 10;
    button {
      color: white;
    }

    :hover {
      background-color: white;
      color: #555;

      button {
        color: #555;
      }
    }

    .nav-inner-box {
      display: flex;
      justify-content: space-between;
      min-width: 1200px;
      padding: 0px 5%;

      .left-box {
        display: flex;

        .header {
          font-size: 36px;
          padding-left: 44px;
          padding-top: 25px;
        }

        .nav-title-box {
          display: flex;
          margin-left: 40px;

          .title-item-box {
            line-height: 90px;

            .nav-title {
              font-family: 'EBSHunminjeongeumSBA';
              font-weight: 500;
              font-size: 18px;
              padding-right: 50px;

              &:hover {
                color: rgb(53, 157, 53);
              }
            }
          }
        }
      }

      .right-box {
        display: flex;
        align-items: center;

        .right-icons {
          display: flex;
          margin-right: 50px;
          font-size: 15px;

          .icon {
            margin-right: 20px;

            i {
              &:hover {
                color: rgb(53, 157, 53);
              }
            }
          }
        }

        .right-content {
          display: flex;
          margin-right: 50px;
          font-size: 15px;
          font-weight: 900;

          .nav-login {
            margin-right: 20px;
            line-height: 80px;
            .login-text:hover {
              color: rgb(53, 157, 53);
            }
            .nav-login-box {
              position: relative;
              transition: all ease 0.1s;
              .nav-register-box {
                display: flex;
                position: absolute;
                align-items: flex-start;
                width: 60px;
                background-color: #fff;
                line-height: 20px;
                .text:hover {
                  color: rgb(53, 157, 53);
                }
              }
            }
          }
        }
      }
    }
  }
  .white {
    background-color: #fff;
    color: #555;
    background: white;
    button {
      color: #555;
    }
  }

  .nav-item-box {
    position: relative;
    transition: all ease 0.5s;
    z-index: 1;
    .nav-item-title {
      display: flex;
      position: absolute;
      align-items: flex-start;
      padding-top: 40px;
      left: -5px;
      width: 100vw;
      border-top: 1px solid #e6e6e6;
      padding-left: 155px;
      padding-bottom: 50px;
      background-color: #fff;

      .category-box {
        width: 20%;

        .item-title-button {
          font-size: 20px;
          font-weight: 600;
          display: flex;
          color: #333;

          &:hover {
            color: rgb(53, 157, 53);
          }
        }

        .item-lists-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-top: 10px;

          .item {
            font-size: 15px;
            color: #666;
            line-height: 35px;

            &:hover {
              color: rgb(53, 157, 53);
            }
          }
        }
      }
    }
  }
  .vacant {
    width: 100vw;
    height: 900px;
    background: rgba(0, 0, 0, 0.25);
    transition: all ease 0.5s;
  }
  .none {
    background: none;
    display: none;
  }

  .up {
    transform: translateY(-500px);
  }
}
