@import '../../styles/variable.scss';

.nav-all {
  color: #333;
  font-family: 'EBSHunminjeongeumSBA';
  font-weight: 400;
  font-size: 13px;
  #nav-header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 1280px;
    height: auto;
    background: rgba(0, 0, 0, 0.25), transparent;
    .wrapper {
      padding: 0, 10px;
      max-width: 1540px;
      margin-left: auto;
      margin-right: auto;
      .inner-box {
        @include flex($justify: space-between);
        .left-box {
          @include flex($justify: flex-start);
          .loctea {
            font-size: 36px;
            padding-left: 44px;
            padding-top: 25px;
          }
          .nav {
            display: block;
            padding-left: 40px;
            .nav-list-dep1 {
              display: flex;
              .item-dep1 {
                padding-right: 80px;
                font-size: 20px;
                .link-text {
                  display: block;
                  height: 80px;
                  line-height: 80px;
                  font-size: 18px;
                  font-weight: 500;
                  color: black;
                }
              }
              .item-dep1-no-child {
                padding-right: 80px;
                font-size: 20px;
                .link-text {
                  display: block;
                  height: 80px;
                  line-height: 80px;
                  font-size: 18px;
                  font-weight: 500;
                  color: black; //#fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
