@import '../../styles/variable.scss';

.nav-all {
  color: #333;
  font-family: 'EBSHunminjeongeumSBA';
  font-weight: 400;
  font-size: 13px;
  #nav-header {
    .wrapper {
      .inner-box {
        @include flex($justify: space-between);
        .left-box {
          display: flex;
          .loctea {
            font-size: 36px;
            padding-left: 44px;
            padding-top: 25px;
          }
          .nav {
            padding-left: 60px;
            .nav-list-dep1 {
              display: flex;
              justify-content: center;
              .item-dep1 {
                padding-right: 80px;
                font-size: 20px;
                .link-text {
                  display: block;
                  line-height: 80px;
                  font-size: 18px;
                  font-weight: 500;
                  color: black;
                }
                .category-title {
                  @include flex;
                  border: 1px solid black;
                  width: 500px;
                }
              }
              .item-dep1-no-child {
                padding-right: 80px;
                font-size: 20px;
                .link-text {
                  display: block;
                  height: 80px;
                  line-height: 80px;
                  font-size: 18px;
                  font-weight: 500;
                  color: black; //#fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
